In [2]:
#importing the libraries
library(tidyr)
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.0.0     ✔ purrr   0.2.5
✔ tibble  1.4.2     ✔ dplyr   0.7.6
✔ readr   1.1.1     ✔ stringr 1.3.1
✔ ggplot2 3.0.0     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
# Tidying the weather data

#reading the csv file
weather <- read.csv("/Users/manoharsaijasti/weather-untidy.csv", stringsAsFactors = FALSE)
weather <- as.tibble(weather)

In [5]:
head(weather)

  id      year month element d1 d2  d3  d4 d5  d6 ⋯ d22 d23 d24 d25 d26 d27 d28
1 MX17004 2010 1     TMAX    NA  NA  NA NA  NA NA ⋯ NA   NA NA  NA  NA  NA  NA
2 MX17004 2010 1     TMIN    NA  NA  NA NA  NA NA ⋯ NA   NA NA  NA  NA  NA  NA
3 MX17004 2010 2     TMAX    NA 273 241 NA  NA NA ⋯ NA  299 NA  NA  NA  NA  NA
4 MX17004 2010 2     TMIN    NA 144 144 NA  NA NA ⋯ NA  107 NA  NA  NA  NA  NA
5 MX17004 2010 3     TMAX    NA  NA  NA NA 321 NA ⋯ NA   NA NA  NA  NA  NA  NA
6 MX17004 2010 3     TMIN    NA  NA  NA NA 142 NA ⋯ NA   NA NA  NA  NA  NA  NA
  d29 d30 d31
1 NA  278 NA
2 NA  145 NA
3 NA   NA NA
4 NA   NA NA
5 NA   NA NA
6 NA   NA NA

In [6]:
#gathering the columns that are not variables i.e d1,d2,d3,......d31 into the keys and values as values of those columns
weather.a <- weather %>% gather(day, value, d1:d31, na.rm = TRUE)
head(weather.a)

  id      year month element day value
1 MX17004 2010 12    TMAX    d1  299
2 MX17004 2010 12    TMIN    d1  138
3 MX17004 2010  2    TMAX    d2  273
4 MX17004 2010  2    TMIN    d2  144
5 MX17004 2010 11    TMAX    d2  313
6 MX17004 2010 11    TMIN    d2  163

In [7]:
#spreading the key-value pair (TMAX, TMIN) across multiple columns 
weather.b <- weather.a %>% spread(element , value)
head(weather.b)

  id      year month day TMAX TMIN
1 MX17004 2010 1     d30 278  145
2 MX17004 2010 2     d11 297  134
3 MX17004 2010 2     d2  273  144
4 MX17004 2010 2     d23 299  107
5 MX17004 2010 2     d3  241  144
6 MX17004 2010 3     d10 345  168

In [8]:
#checking the class of the day variable
class(weather.b$day)

[1] "character"

In [9]:
#parsing the day variable to the numeric type 
weather.b$day <- parse_number(weather.b$day)

In [10]:
#created a pipe to organize the data neatly i.e selected and arranged the data by id,year and day columns.
weather <- weather.b %>% 
  select(id,day,month,year,TMAX, TMIN) %>%
  arrange(id,year,month,day)

head(weather)

  id      day month year TMAX TMIN
1 MX17004 30  1     2010 278  145
2 MX17004  2  2     2010 273  144
3 MX17004  3  2     2010 241  144
4 MX17004 11  2     2010 297  134
5 MX17004 23  2     2010 299  107
6 MX17004  5  3     2010 321  142

In [11]:
#writing the cleaned data into a csv file
write_csv(weather, "weather_cleaned.csv")